 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html, body{
    background-color:#444654 ;
}

body{
    min-height:100vh;
}

.navbar{
    justify-content: center;
    font-family: Serif;
    font-size:24px;
    background-color:#202123;
 }
 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 5rem;
  background-color:#343541;
  border-color:#343541;
}



input {
  width: 100%;
  max-width: 500px;
  padding: 0.8rem;
  margin: 2rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size:1.1em;
  background-color:#40414F;
  color:white;
  border-color:#40414F;
}

.image-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin:5rem;
      background-color:#444654;
}

#download-btn{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin:1rem;
    display:none;
}


img
{
    border:1px solid #ccc;
    border-radius:5px;
    box-shadow: 0 0 10px #ebe6d8;
    display:none;
}

a.accordion {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #343541;
  color: #ccc;
  text-decoration: none;
  border-radius: 5px;
}

a.accordion:hover {
    color:white;
}

a.accordion:after {
  content: '\002B'; /* plus sign */
  float: right;
  margin-left: 5px;
}

a.accordion.active:after {
  content: '\2212'; /* minus sign */
}

/*for the accordion content div*/
div.panel {
  display: none;
  padding: 10px;
  color:#ccc;
  background-color: #343541;
}   

#fgDropdown, #bgDropdown
{
    background-color:#40414F;
    color:white;
    border:none;
    
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
